# IntelliJ Config
.idea

# Maven
target/
.mvn
.mvn-classpath

# node, vite/next
node_modules/
client/*.js
build/
dist/
.env
.env.local
test-results/
playwright-report/
playwright/.cache/

# mac
.DS_Store

# next
client/.next/
